<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos o que você precisa!</h2>
                <hr class="light">
                <p class="text-faded">Seja um sistema para melhorar processos da sua empresa, um aplicativo para transformar a sua idéia em Startup. Manter ou evoluír o que já tem e foi construído por outros fornecedores</p>
                <a href="#" class="btn btn-default btn-xl">Conte-nos a sua necessidade!</a>
            </div>
        </div>
    </div>
</section>
